.app {
    margin:auto
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px
}

img {
    width: 3%;
    height: auto;
    padding: 0;
    border-radius: 4px
}

.result-container {
    border: 1px black solid;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: center
}
.list-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px black solid
}
.app-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid
}
.header {
    width: 100vw;
    height: 10vh;
    background-color: #5285C1; 
   
}
.footer {
    width: 100vw;
    height: 10vh;
    bottom: 100;
    display: flex;
    background-color: #5285C1; 
    justify-content: center;
    align-items: center
}
.logo {
   padding-top: 28px;
   padding-left: 30px

}

.column {
    float: left;
    width: 46%;
    margin: 4px;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}
.dropdown {
    padding: 100px;
    width: 60px

}
select {
    padding: 10px
}
option{
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
#checkbox-title{
    float:right
}
 #fork {
    display: flex;
 }
 #box{
margin-top: 20px;
margin-left: 0px;
margin-right: 0px;
width: 20px;
 }

 #submit {
     display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background: #5285C1;
    color: white

 }